
<!--<html xmlns:th="http://www.w3.org/1999/thymeleaf">-->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<script type="text/javascript" th:src="@{/javascript/getSymptoms.js}"></script>
<body>
<form action="#" th:action="@{/diseaseResults}" th:object="${diseaseSymptoms}" method="post">
    <table>
        <p>Please add symptoms seperated by comma.</p>
        <tr>
            <td>symptoms:</td>
            <td><input type="text" th:field="*{symptomList}" /></td>
            <!--<td th:if="${#fields.hasErrors('input')}" th:errors="*{input}">input Error</td>-->
        </tr>
        <tr>

            <td><button id="sendSymproms" type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>