<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js}"></script>
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js}" type="text/javascript"></script>
    <!--<script type="text/js" th:src="@{/js/getSymptoms.js}"></script>-->
    <script type="text/javascript" th:src="@{js/test.js}"></script>


</head>
<body>
<form action="#" th:action="@{/diseaseResults}" th:object="${diseaseSymptoms}" method="post">
    <table>
        <p>Please add symptoms seperated by comma.</p>
        <tr>
            <td>symptoms:</td>
            <td><input type="text" th:field="*{symptomList}" /></td>
            <!--<td th:if="${#fields.hasErrors('input')}" th:errors="*{input}">input Error</td>-->
        </tr>
        <tr>

            <td><button id="search-button" type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>