<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="includes/header :: head">
    <title>Spring Security Example </title>
</head>
<body>

    <div th:if="${param.error}">
         Invalid username and password.
    </div>

    <div th:if="${param.logout}">
         You have been logged out.
    </div>

<div class="textcon">
    <table>
        <form th:action="@{/login}" method="post">

            <tr>
                <div>
                    <td><label> User Name : <input type="text" name="username"/> </label></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label> Password: <input type="password" name="password"/> </label></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><input type="submit" value="Sign In"/></td>
                </div>
            </tr>

        </form>
    </table>

</div>

</body>
</html>