<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class ="disease">
    <table>
       <tr class="diseaseTitle">
            <td class="title" colspan="3">
                + "<a class = "clickTitle" id="minmnumbernumber"></a>
            </td>
       </tr>
        <tr>
            <td class="label">Omimnumber: </td>
            <td class="value"></td>
        </tr>
        <tr>
            <td class="label">
                <a data-toggle="tooltip" title="The score is calculated through: The sum of 1 / occurence of each match through the search." id="score"
                   data-placement="right">Score: </a>
            </td>
            <td class="value">score

        <td class="label"><a data-toggle="tooltip" title="The number of matched symptoms." data-placement="right">
            Hits:
            </a>
        </td>
        <td class="value">hits
            </td>
        </tr>
        <tr><td class="label">
        Matches:
            </td><td class="value">matches
            </td>
    </tr>;
        </table>
    </li>
    <br/>
</body>
</html>