<header th:fragment="head">


        <script th:src="@{js_libs/jquery.min.js}" type="text/javascript" ></script>
        <script th:src="@{js_libs/jquery-ui.min.js}" type = "text/javascript"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>

        <!--<link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet"/>-->
        <!--<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js}"></script>-->
        <link th:href="@{/css/style_sheet.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{js_libs/jstree.js}" type = "text/javascript"></script>
        <script th:src="@{js_libs/jstree.min.js}" type = "text/javascript"></script>
        <script th:src="@{js_libs/FileSaver.min.js}" type="text/javascript"></script>
        <script th:src="@{js_libs/bootstrap.min.js}" type = "text/javascript"></script>
        <script th:src="@{js/collapsibletree.js}" type = "text/javascript"></script>
        <script th:src="@{js_libs/jspdf.min.js}" type = "text/javascript"></script>

        <link th:href="@{/jsTree-style/jsTree-style.css}" rel="stylesheet" type="text/css"/>

        <script th:src="@{js/buildTree.js}" type="text/javascript"></script>
        <script th:src="@{js/getSymptoms.js}" type="text/javascript"></script>
        <script th:src="@{js/autocomplete.js}" type="text/javascript"></script>
        <script th:src="@{js/resizePics.js}" type="text/javascript"></script>
        <script th:src="@{js/loadHistory.js}" type="text/javascript"></script>
        <script th:src="@{js/createSecondTreeField.js}" type="text/javascript"></script>
        <script th:src="@{js/reloadPartsOfPage.js}" type="text/javascript"></script>
        <script th:src="@{js/secondTree.js}" type="text/javascript"></script>
        <script th:src="@{js/clearlocalstorage.js}" type="text/javascript"></script>
        <script th:src="@{js/controlemodal.js}" type="text/javascript"></script>

        <link th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/bootstrap.css.map}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/bootstrap-theme.css.map}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/disease_matcher_layout.css}" rel="stylesheet" type="text/css"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title>PheDiMap</title>
        <div id="logo" class="jumbotron"><h1>PheDiMap 2.0</h1><h2><small>Phenotype disease match application</small></h2></div>
</header>
