<leftfield xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" id="history">
        <div role="tabpanel">

            <div th:if="${#httpServletRequest.remoteUser}">
                <navmenu th:replace="includes/navmenu :: loggedin"></navmenu>
            </div>

            <!-- if customer is not loggedin-->
            <div th:if="${#httpServletRequest.remoteUser == null}">
                <navmenu th:replace="includes/navmenu :: notloggedin"></navmenu>
            </div>

            <!--Tab panes-->
            <div class="tab-content" id="tabcontent">
                <div role="tabpanel" class="tab-pane active" id="treetab">

                    <div id="discriptionTrees">


                    <h2>Select symptoms</h2>
                        <form>
                            <input type="text" id="symptoms" name="symptoms"/>
                        </form>


                        <div id="event_result">Select symptoms on the right side of the page.</div>
                        <p>select algorithm</p>
                        <button id="search-button" class="button btn btn-info">Search for diseases</button>

                        <select size="1" id="algorithmType" name="algorithm" class="button btn btn-info">
                            <option value="AM">A.M-algorithm</option>
                            <option value="j">J-algorithm</option>
                        </select>

                        <select size="1" id="runtime" name="algorithm" class="button btn btn-info">
                            <option value="">No limit</option>
                            <option value="30000">30 seconds</option>
                            <option value="60000">1 minute</option>
                            <option value="90000">1.5 minutes</option>
                            <option value="120000">2 minutes</option>

                        </select>
                        <div id="ontology-tree" class="fields" style="margin-top:2em;"></div>


                        <!--tree!!!!!!!!!!!!!!!!!!-->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="resultTab">
                    <br/><br/>
                    Click in the search-tab on the search button to get results here.
                    <!--<symptomResults th:replace="includes/symptomResults"></symptomResults>-->
                </div>

                <div role="tabpanel" class="tab-pane" id="statisticsTab">
                    <showstatistics th:replace="includes/showstatistics"></showstatistics>
                </div>

                <div role="tabpanel" class="tab-pane" id="historytab">
                    <searchhistory th:replace="includes/searchhistory :: showsearchhis" ></searchhistory>
                </div>

            </div>

        </div>
    </div>

</leftfield>