<navmenu th:fragment="loggedin">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="tablist">

    <li role="presentation" class="active"><a href="#treetab" aria-controls="treetab" role="tab"
                                              data-toggle="tab" class="tab">trees</a></li>

    <li role="presentation"><a type="hidden" href="#resultTab" aria-controls="resultTab" role="tab"
                               data-toggle="tab" class="tab">results</a></li>

    <li role="presentation"><a type="hidden" href="#historytab" aria-controls="historytab" role="tab"
                               data-toggle="tab" class="tab">history</a></li>
</ul>
</navmenu>