<navmenu th:fragment="loggedin">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="tablist">

    <li role="presentation" class="active"><a href="#treetab" aria-controls="treetab" role="tab"
                                              data-toggle="tab" class="tab">Search</a></li>

    <li role="presentation"><a type="hidden" href="#resultTab" aria-controls="resultTab" role="tab"
                               data-toggle="tab" class="tab">Results</a></li>

    <li role="presentation"><a type="hidden" href="#labelTab" aria-controls="labelTab" role="tab"
                               data-toggle="tab" class="tab">Symptoms</a></li>

    <li role="presentation"><a type="hidden" href="#statisticsTab" aria-controls="statisticsTab" role="tab"
                               data-toggle="tab"  class="tab"><div id="tabstatistics">Statistics</div></a></li>


    <li role="presentation"><a type="hidden" href="#historytab" aria-controls="historytab" role="tab"
                               data-toggle="tab" class="tab" onclick="executeLoadHistory();">History</a></li>

</ul>
</navmenu>

<navmenu th:fragment="notloggedin">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="tablist">

        <li role="presentation" class="active"><a href="#treetab" aria-controls="treetab" role="tab"
                                                  data-toggle="tab" class="tab">Search</a></li>

        <li role="presentation"><a type="hidden" href="#resultTab" aria-controls="resultTab" role="tab"
                                   data-toggle="tab" class="tab">Results</a></li>

        <li role="presentation"><a type="hidden" href="#labelTab" aria-controls="labelTab" role="tab"
                                   data-toggle="tab" class="tab">Symptoms</a></li>

        <li role="presentation"><a type="hidden" href="#statisticsTab" aria-controls="statisticsTab" role="tab"
                                   data-toggle="tab" class="tab">Statistics</a></li>



    </ul>
</navmenu>