<registerform th:fragment="register" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" th:action="@{/form}" th:object="${user}" method="post">
        <table>

            <tr>
                <td>Username:*</td>
                <td><input type="text" th:field="*{username}"/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username</td>
            </tr>
            <tr>
                <td>Email:*</td>
                <td><input type="email" th:field="*{email}"/></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email</td>
            </tr>
            <tr>
                <td>Password:*</td>
                <td><input type="password" th:field="*{password}"/></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password</td>
            </tr>
            <tr>
                <td>Confirm password:*</td>
                <td><input type="password" th:field="*{confirmPassword}"/></td>
                <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirm password</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</registerform>