<rightfield>

    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" id="statisticsTab">
        <div role="tabpanel">



            <!--Tab panes-->
            <div class="tab-content" id="tabcontent">
                <!--<showstatistics th:replace="includes/showstatistics"></showstatistics>-->
                <div role="tabpanel" class="tab-pane active" id="treetab">
                    <br/><br/>
                    <div id="statistics">


                    <h2>show statistics</h2>

                        <div id="SecondaryTree"></div>
                        <div id="demo"></div>


                        <subtree th:replace="includes/subtree :: tree"></subtree>

                    </div>
                </div>

            </div>

        </div>
    </div>

</rightfield>