<rightfield>

    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" id="secondarytreetab">

        <div class="tab-content" id="tabcontent">

            <div role="tabpanel" class="tab-pane active" id="treetab">

                <h2>Secondary Tree</h2>

                <h2> Selected: </h2>
                <p id="selectedTreeNode1" type="text" > </p>

                <button onclick="savesecondtreesymptoms()" id="selectedTreeNode2" class="button btn btn-info">add to symptoms</button>

                <div class="fields">
                <div th:replace="includes/subtree :: tree"></div>

                </div>

            </div>

        </div>

    </div>

</rightfield>

