<searchhis xmlns:th="" th:fragment="showsearchhis">
<h1> your search history </h1>

<div th:if="${#httpServletRequest.remoteUser != null}">

    <td th:text="${application.executeHis}" >42</td>



    <div id="userHistory">
        <table class="table table-striped" id="historyTable">
            <tr>
                <th>search query</th>
                <th>moment of search</th>
                <th>search button</th>

            </tr>
            <tr th:each="searchObject, iterStat :  ${history}">

                <td th:id = "testId+${iterStat.count}" th:text="${searchObject.getQuery()}" ></td>
                <td th:text="${searchObject.getCreatedAt()}"></td>
                <td><button id="historyButton" th:onclick="'javascript:resendQuery(\''+ ${searchObject.getLongQuery()} + '\')'">find this query</button></td>
            </tr>
        </table>
    </div>



    <table>
        <caption><b></b></caption>
        <tr>

            <td id="historyContent"></td>


        </tr>
    </table>
</div>
</searchhis>