<searchhis th:fragment="showsearchhis" xmlns:th="">
    <h1> your search history </h1>

    <div th:if="${#httpServletRequest.remoteUser != null}">

        <td th:text="${application.executeHis}">42</td>



        <!--<table>-->
            <!--<tr>-->
                <!--<th>search query</th>-->
                <!--<th>date of search</th>-->
            <!--</tr>-->
            <!--<td th:text="${search.getQuery()}">A Smoke Test'</td>-->
            <!--<tr>-->
                <!--<td th:text="${search.getCreatedAt()}">A Smoke Test'</td>-->

            <!--</tr>-->
        <!--</table>-->


        <th:block th:each="search : ${history}">
        <tr>
            <td th:text="${search.getQuery()}">A Smoke Test'</td>
        </tr>
            <tr>
                <td th:text="${search.getCreatedAt()}">A Smoke Test'</td>
            </tr>
    </th:block>





        <table>
            <caption><b></b></caption>
            <tr>

                <td id="historyContent"></td>


            </tr>
        </table>
    </div>
</searchhis>