<searchhis xmlns:th="" th:fragment="showsearchhis">
<h1> your search history </h1>

<div th:if="${#httpServletRequest.remoteUser != null}">

    <td th:text="${application.executeHis}" >42</td>



    <div id="userHistory">
        <table class="table table-striped">
            <tr>
                <th>search query</th>
                <th>moment of search</th>

            </tr>
            <tr th:each="searchObject :  ${history}">
                <td th:text="${searchObject.getQuery()}"></td>
                <td th:text="${searchObject.getCreatedAt()}"></td>
            </tr>
        </table>
    </div>



    <table>
        <caption><b></b></caption>
        <tr>

            <td id="historyContent"></td>


        </tr>
    </table>
</div>
</searchhis>